# version: "3.8" // obsolete in new docker Compose Specification
services:
  www:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      # - "./:/var/www/html"
      - ".:/var/www/html"
      - "./config/php/:/usr/local/etc/"
      # - "./.htaccess:/var/www/html/.htaccess"
    ports:
      - 80:80
      - 443:443 #for futur ssl traffic`
  db:
    image: mysql:latest
    environment:
      - MYSQL_DATABASE=php_docker
      - MYSQL_USER=php_docker
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
    volumes:
      - mysql-data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8001:80
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
volumes:
  mysql-data:
