@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;600&display=swap");

* {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  /* background-color: #efefef; */
  /* background-color: #f5f5f5; */
  background-color: #fafafa;
  color: #555555;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.post-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.title {
  /* font-weight: 400; */
  font-size: 26px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  width: calc((100% - 60px) / 3);
  border: 1px solid white;
  padding: 10px;
  font-size: 16px;
  box-shadow: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;
}

.title-post-single {
  font-size: 48px;
}

.post-single-wrap {
  margin-top: 60px;
  /* display: flex;
  justify-content: center; */
}

.post-single {
  padding: 0 80px;
  position: relative;
  /* text-align: center; */
}

.post-example {
  background-color: #f0f0f0;
  /* border: solid 1px #e1e3e7; */
  padding: 10px;
}

.post.create {
  /* border: 1px solid #555555; */
  border: solid 1px #e1e3e7;
  position: relative;
  justify-content: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.post.create .title,
.post.create .material-symbols-outlined.create-post {
  transition: 0.5s ease-in-out;
}

.post.create:hover .title {
  color: #f76f72;
}

/* .post.create:hover .material-symbols-outlined.create-post {
  font-variation-settings: "FILL" 1;
  color: #f76f72;
} */

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
  /* margin-bottom: 30px; */
  margin: 60px 0;
  text-align: center;
}

.post:hover {
  background-color: white;
  border-bottom: 1px solid #f76f72;
}

.post-info-wrap {
  border-top: 1px solid #555555;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.post-info {
  /* border-top: 1px solid #555555; */
  padding-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-body {
}

.post-date,
.post-user-name {
  margin: 0;
}

.post-user-data {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: end;
  margin: 0;
}

.delete-word-title {
  color: #555555;
  background-color: #f0f0f0;
  padding: 10px;
  width: auto;
  margin-left: 20px;
  font-size: 24px;
}

/* ==========tags============= */

.post-tags-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag-title {
  color: #555555;
  background-color: #f0f0f0;
  padding: 10px;
  width: auto;
  margin-left: 20px;
}

.post-tag-link {
  text-decoration: none;
  display: block;
  color: #555555;
  background-color: #f0f0f0;
  padding: 5px;
  width: auto;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.post-tag-link:hover,
.post-tag-link.active {
  background-color: #555555;
  color: white;
}

.form-wrap {
  border: 1px solid white;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto 37px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  box-shadow: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;
}

.form-wrap.form-login {
  max-width: 400px;
}

.submit {
  width: 100%;
}

.form-handle-word {
  width: 100%;
}

.form-handle-word label {
  display: block;
  text-align: start;
  color: #e1e3e7;
  margin-top: 20px;
}

.form-handle-word .inp-text,
.form-handle-word .main-input {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  font-family: inherit;
}

.form-handle-word .sbm-btn {
  margin: 50px auto 0;
}

.form-handle-word .choose-submit {
  margin: 50px auto 0;
}

.form-handle-word .choose-submit .sbm-btn.update {
  flex-grow: 1;
}

.form-handle-word .choose-submit .sbm-btn.delete-word {
  margin: 0;
  flex-grow: 1;
  width: auto;
}

.form-handle-word .choose-submit .sbm-btn.cancel.delete-word {
  flex-grow: 1;
}

.inp-text {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 3px;
  margin-top: 20px;
  font-family: inherit;
  background: white;
  border: 2px solid white;
}

.inp-text[readonly] {
  background-color: #fafafa;
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 5px;
}

.custom-label-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  text-align: center;
  height: 40px;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  border: 2px solid #555555;
  color: #555555;
  cursor: pointer;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.custom-label-text:hover {
  background-color: #555555;
  color: white;
}

.sbm-err {
  color: #f76f72;
  text-align: left;
  padding-top: 5px;
  font-size: 14px;
}

.sbm-err.link {
  color: #555555;
}

.sbm-err .word-link {
  text-decoration: none;
  color: #f76f72;
  padding-left: 5px;
  transition: 0.5s ease-in-out;
}

.sbm-err .word-link:visited {
  text-decoration: none;
  color: #f76f72;
}

.sbm-err .word-link:hover {
  text-decoration: none;
  color: #555555;
  /* border-bottom: 1px solid #f76f72; */
}

.img-upload-err,
.message-err {
  color: #f76f72;
  padding: 10px;
  text-align: center;
}

.inp-text.invalid {
  border: 2px solid #f76f72;
}

.form-sbm-status {
  color: #f76f72;
  text-align: center;
}

.form-sbm-status.succes {
  color: #555555;
  text-align: center;
}

.sbm-btn {
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: inherit;
  font-weight: normal;
  color: inherit;
  background: none;
  margin: 20px auto 0;
  background-color: #f76f72;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.sbm-btn:hover {
  background-color: #555555;
}

.login-footer {
  margin-top: 30px;
}

.link-login {
  text-decoration: none;
  color: #f76f72;
  transition: 0.3s ease-in-out;
}

.link-login:hover {
  color: #555555;
}

/* ============header================== */

.header {
  /* background-color: #efefef; */
  /* background-color: #f5f5f5; */
  background-color: #fafafa;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 90px;
}

.logo-ico {
  background-image: url("/public/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 66px;
  transition: 0.3s ease-in-out;
}

.logo-link {
  text-decoration: none;
  /* display: block; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-symbols-outlined.create-post {
  font-size: 42px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  margin: 0;
}

.post-link .title,
.post-link .post-body,
.post-link .title:visited,
.post-link .post-body:active,
.post-link .post-body:hover {
  text-decoration: none;
  color: #555555;
  transition: 0.3s ease-in-out;
}

.post-link:hover .title {
  color: #f76f72;
}

.post-controllers-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.post-single .post-controllers-wrap {
  top: 0;
  right: 90px;
}

.post-edit-link {
  /* position: absolute;
  top: 10px;
  right: 10px; */
}

.post-delete-link .material-symbols-outlined,
.post-delete-link .material-symbols-outlined:visited {
  text-decoration: none;
  color: #555555;
  /* color: #f76f72; */
  background-color: #f0f0f0;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.post-edit-link .material-symbols-outlined,
.post-edit-link .material-symbols-outlined:visited {
  text-decoration: none;
  color: #555555;
  /* color: #f76f72; */
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.post-edit-link:hover .material-symbols-outlined {
  text-decoration: none;
  color: white;
  /* color: #f76f72; */
  background-color: #555555;
}

.post-delete-link:hover .material-symbols-outlined {
  text-decoration: none;
  background-color: #f76f72;
  color: white;
  /* background-color: #555555; */
}

.create-post-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo-ico:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(27%) sepia(10%) saturate(14%)
    hue-rotate(335deg) brightness(93%) contrast(88%);
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-weight: normal;
  font-style: normal;
  line-height: 50px;
}

.nav-item {
  padding-left: 30px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #555555;
  transition: 0.3s ease-in-out;
}

/* .nav-link.profile {
  display: flex;
  align-items: center;
} */

.nav-link.active {
  text-decoration: none;
  color: #f76f72;
}

.nav-link:hover {
  text-decoration: none;
  color: #f76f72;
}

.nav-login {
  padding-left: 100px;
}

/* .nav-profile {
  padding-left: 100px;
} */

.nav-profile {
  padding-left: 100px;
}

.signup {
  border: 2px solid #f76f72;
  color: #f76f72;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.signup:hover {
  background-color: #f76f72;
  color: white;
}

.signout {
  border: 2px solid #555555;
  color: #555555;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.signout:hover {
  background-color: #555555;
  color: white;
}

/* ============footer=================== */
footer {
  flex-shrink: 0;
}

.foot-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  /* background-color: #a9a9a9; */
  /* background-color: #cfcfcf; */
  /* background-color: #e1e3e7; */
  background-color: #f0f0f0;
}

.info {
  display: flex;
  color: #555555;
  font-weight: normal;
  gap: 20px;
}

.github-link {
  text-decoration: none;
  color: #555555;
  transition: 0.3s ease-in-out;
}

.github-link:hover {
  color: white;
}

.main-page {
  margin-top: 60px;
}

/* ============myProfile=================== */

.profile-container {
  display: flex;
  min-height: calc(100vh - 150px);
  margin-top: 60px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
}

.sidebar .side-item {
  padding: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #555555;
}

.side-item .material-symbols-outlined,
.stat-item .material-symbols-outlined {
  padding: 5px 10px 5px 5px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.sidebar .side-item.active,
.sidebar .side-item:hover:not(.active) {
  background-color: white;
  border-bottom: 1px solid #f76f72;
}

.profile-content {
  flex-grow: 1;
  background-color: #ffffff;
}

/* ============Profile page=================== */

.profile-wrap {
  padding: 60px;
  display: flex;
  gap: 60px;
  /* gap: 30px; */
  /* flex-direction: column; */
}

.user-profile-container {
  padding: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #555555;
}

.user-profile-wrap {
  display: flex;
  gap: 60px;
  /* background-color: #f0f0f0; */
}

.user-content-wrap {
}

.profile-edit-wrap {
  padding: 30px;
}

.user-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-data-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* position: relative; */
}

.profile-image-wrap {
  max-width: 200px;
}

.profile-image {
  position: relative;
  height: 200px;
  width: 200px;
  /* border-radius: 50%; */
}

.profile-image.small {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profile-image.small:hover {
  filter: none;
}

.profile-image-hint {
  text-align: center;
  font-size: 14px;
  background-color: #f0f0f0;
  border: solid 1px #e1e3e7;
  padding: 10px;
  margin-top: 20px;
}

.user-data {
  /* padding-left: 30px; */
}

.avatar-img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  margin: 0;
}

.user-email {
  margin: 0;
}

.user-bio {
}

.user-profile-statistic-bar {
  display: flex;
  gap: 60px;
  background-color: #e1e3e7;
  justify-content: center;
  background-color: #f0f0f0;
}

.user-statistic-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #e1e3e7; */
  background-color: #f0f0f0;
  flex-shrink: 0;
  width: 200px;
}

.stat-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.stat-item {
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.stat-item.user-profile {
  flex-direction: row;
}

.stat-item-num {
  margin: 0;
}

.stat-item .material-symbols-outlined {
  /* color: #ebebeb; */
}

.edit-profile-btn {
  text-decoration: none;
  display: block;
  border: 2px solid #555555;
  color: #555555;
  padding: 10px;
  transition: 0.3s;
}

.edit-profile-wrap {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  right: 0;
}

.edit-profile-btn:hover {
  background-color: #555555;
  color: white;
}

.edit-profile-form .inp-text {
  margin-top: 10px;
  font-size: 16px;
  color: #555555;
  max-width: 560px;
}

.edit-profile-form textarea {
  height: 100px;
  padding: 10px;
}

.edit-profile-form label {
  display: block;
  margin-top: 40px;
  color: #e1e3e7;
}

.edit-profile-form label:first-child {
  display: block;
  margin-top: 0;
}

.sbm-btn.edit {
  display: block;
  padding: 10px;
  margin: 0;
  flex-shrink: 0;
  max-width: 100px;
}

.delete-image {
  position: absolute;
  bottom: 20%;
  right: 0;
}

.update-image {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}

.sbm-btn.delete {
  padding: 3px;
  margin: 0;
  border-radius: 50%;
  height: 30px;
  background-color: #555555;
}

.sbm-btn.delete:hover {
  background-color: #f76f72;
}

.sbm-btn.upload {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 5px;
  margin: 0;
}

.sbm-btn.update {
  width: 120px;
  margin: 0;
}

.sbm-btn.cancel,
.sbm-btn.change-psw {
  flex-shrink: 0;
  width: 80px;
  margin: 0;
  background: none;
  border: 2px solid #555555;
  color: #555555;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.sbm-btn.change-psw {
  width: auto;
}

.sbm-btn.cancel:hover,
.sbm-btn.change-psw:hover {
  background-color: #555555;
  color: white;
}

.choose-submit {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.tags-input {
  background-color: white;
  padding: 5px;
  display: flex;
  margin-top: 10px;
  min-height: 50px;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.tags-input .tag {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #f0f0f0;
  cursor: default;
  transition: 0.3s ease-in-out;
}

.tags-input .tag .material-symbols-outlined {
  font-size: 20px;
  margin-left: 8px;
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.tags-input .tag .material-symbols-outlined:hover {
  color: white;
  background-color: #f76f72;
}

.tags-input .main-input {
  border: 0;
  outline: 0;
  background-color: white;
  flex-grow: 1;
  min-height: 40px;
  margin: 0;
  padding: 10px;
}
