@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;600&display=swap");

:root {
  --color-accent: #f76f72;
  --color-dark: #555555;
  --color-gray-dark: #e1e3e7;
  --color-gray: #f0f0f0;
  --color-gray-light: #fafafa;
  --color-light: #ffffff;
  --font-xl: 42px;
  --font-l: 26px;
  --font-m: 20px;
  --font-s: 16px;
  --font-xs: 14px;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-gray-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 0 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* home page */

.section {
  padding-top: 100px;
}

.main-title {
  font-size: var(--font-xl);
  text-transform: uppercase;
}

.hero-image {
  position: relative;
  height: 400px;
  background-image: url("/public/img/bg-tp-1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -60px;
  height: 600px;
  /* background-position: center -90px; */
  background-repeat: no-repeat;
}

.hero-about {
  line-height: 2em;
}

.hero-text {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  /* width: fit-content; */
  max-width: 800px;
  width: 100%;
}
.random-word {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  min-width: 600px;
  margin: 0 auto;
}

.random-text {
  text-align: center;
}

.random-title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-l);
}

.post-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.title {
  font-size: var(--font-l);
}

.title.title-fav {
  margin: 0;
  font-size: var(--font-m);
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  position: relative;
  width: calc((100% - 60px) / 3);
  border: 1px solid white;
  padding: 10px;
  font-size: var(--font-s);
  box-shadow: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;
}

.post-top-favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: max-content;
  margin: 0 auto;
  position: relative;
}

.post-top-fav-title {
  font-size: var(--font-l);
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
}

.top-rated {
  background-image: url("/public/img/bg-tp-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  margin: 0 auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  min-width: 800px;
}

.about-title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-l);
}

.about-description {
  text-align: justify;
  line-height: 2em;
  max-width: 800px;
  margin-top: 40px;
}

.title-post-single {
  font-size: var(--font-xl);
}

.post-single-wrap {
  margin-top: 60px;
}

.post-single {
  padding: 0 80px;
  position: relative;
}

.post-example {
  background-color: var(--color-gray);
  padding: 10px;
}

.post.create {
  border: solid 1px var(--color-gray-dark);
  position: relative;
  justify-content: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.post.create .title,
.post.create .material-symbols-outlined.create-post {
  transition: 0.5s ease-in-out;
}

.post.create:hover .title {
  color: var(--color-accent);
}

/* .post.create:hover .material-symbols-outlined.create-post {
  font-variation-settings: "FILL" 1;
  color: #f76f72;
} */

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0;
  text-align: center;
}

.post:hover {
  background-color: white;
  border-bottom: 1px solid var(--color-accent);
}

.post-info-wrap {
  border-top: 1px solid var(--color-dark);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.post-info {
  padding-top: 10px;
  font-size: var(--font-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .post-body {
} */

.post-date,
.post-user-name {
  margin: 0;
}

.post-user-data {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: end;
  margin: 0;
}

.delete-word-title {
  /* color: #555555; */
  color: var(--color-dark);
  /* background-color: #f0f0f0; */
  background-color: var(--color-gray);
  padding: 10px;
  width: auto;
  font-weight: 600;
  margin-left: 20px;
  /* font-size: 26px; */
  font-size: var(--font-l);
}

/* ==========tags============= */

.post-tags-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag-title {
  /* color: #555555; */
  color: var(--color-dark);
  /* background-color: #f0f0f0; */
  background-color: var(--color-gray);
  padding: 10px;
  width: auto;
  margin-left: 20px;
}

/* Delited link to tag page to prevent functionality duplication */

/* .post-tag-link {
  text-decoration: none;
  display: block;
  color: #555555;
  background-color: #f0f0f0;
  padding: 5px;
  width: auto;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
} */

/* .post-tag-link:hover,
.post-tag-link.active {
  background-color: #555555;
  color: white;
} */

.post-tag {
  /* text-decoration: none; */
  margin: 0;
  display: block;
  /* color: #555555; */
  color: var(--color-dark);
  /* background-color: #f0f0f0; */
  background-color: var(--color-gray);
  padding: 5px;
  width: auto;
  /* font-size: 14px; */
  font-size: var(--font-xs);
  /* cursor: pointer;
  transition: 0.5s ease-in-out; */
}

.post-tag.active {
  /* background-color: #555555; */
  background-color: #d3d3d3;
  /* color: white; */
}

.form-wrap {
  border: 1px solid white;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto 37px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #fafafa; */
  background-color: var(--color-gray-light);
  box-shadow: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;
}

.form-wrap.form-login {
  max-width: 400px;
}

.submit {
  width: 100%;
}

.form-handle-word {
  width: 100%;
}

.form-handle-word label {
  display: block;
  text-align: start;
  color: var(--color-gray-dark);
  margin-top: 20px;
}

.form-handle-word .inp-text,
.form-handle-word .main-input {
  font-size: var(--font-s);
  margin-top: 10px;
  padding: 10px;
  font-family: inherit;
}

.form-handle-word .sbm-btn {
  margin: 50px auto 0;
}

.form-handle-word .choose-submit {
  margin: 50px auto 0;
}

.form-handle-word .choose-submit .sbm-btn.update {
  flex-grow: 1;
}

.form-handle-word .choose-submit .sbm-btn.delete-word {
  margin: 0;
  flex-grow: 1;
  width: auto;
}

.form-handle-word .choose-submit .sbm-btn.cancel.delete-word {
  flex-grow: 1;
}

.inp-text {
  display: block;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  padding-top: 3px;
  margin-top: 20px;
  font-family: inherit;
  background: var(--color-light);
  border: 2px solid var(--color-light);
}

.inp-text[readonly] {
  background-color: var(--color-gray-light);
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 5px;
}

.custom-label-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  text-align: center;
  height: 40px;
  font-size: var(--font-s);
  font-family: "Roboto Condensed", sans-serif;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  cursor: pointer;
  margin: 0;
  transition: 0.5s ease-in-out;
}

.custom-label-text:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.sbm-err {
  color: var(--color-accent);
  text-align: left;
  padding-top: 5px;
  font-size: var(--font-xs);
}

.sbm-err.link {
  color: var(--color-dark);
}

.sbm-err .word-link {
  text-decoration: none;
  color: var(--color-accent);
  padding-left: 5px;
  transition: 0.5s ease-in-out;
}

.sbm-err .word-link:visited {
  text-decoration: none;
  color: var(--color-accent);
}

.sbm-err .word-link:hover {
  text-decoration: none;
  color: var(--color-dark);
}

.img-upload-err,
.message-err {
  color: var(--color-accent);
  padding: 10px;
  text-align: center;
}

.inp-text.invalid {
  border: 2px solid var(--color-accent);
}

.form-sbm-status {
  color: var(--color-accent);
  text-align: center;
}

.form-sbm-status.succes {
  color: var(--color-dark);
  text-align: center;
}

.sbm-btn {
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  font-size: var(--font-s);
  font-family: inherit;
  font-weight: normal;
  color: inherit;
  background: none;
  margin: 20px auto 0;
  background-color: var(--color-accent);
  border: none;
  color: var(--color-light);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.sbm-btn:hover {
  background-color: var(--color-dark);
}

.sbm-btn.explore {
  padding: 10px;
  height: 40px;
  width: 120px;
  display: block;
  margin: 24px auto;
}

.login-footer {
  margin-top: 30px;
}

.link-login {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.3s ease-in-out;
}

.link-login:hover {
  color: var(--color-dark);
}

/* ============header================== */

.header {
  background-color: var(--color-gray-light);
  padding: 0 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.logo-ico {
  background-image: url("/public/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 194px;
  height: 32px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  flex-shrink: 0;
}

.logo-link {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-symbols-outlined.create-post {
  font-size: var(--font-xl);
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
  margin: 0;
}

.post-link .title,
.post-link .post-body,
.post-link .title:visited,
.post-link .post-body:active,
.post-link .post-body:hover,
.post-link .fav-amount {
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.3s ease-in-out;
}

.post-link:hover .title {
  color: var(--color-accent);
}

.post-link.top-fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.post-link.random {
  position: relative;
  text-align: center;
  margin-top: 60px;
  display: block;
  border-top: 2px solid var(--color-light);
  border-bottom: 2px solid var(--color-light);
  background-color: var(--color-gray-light);
}

.title.word-random {
  font-size: var(--font-xl);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
}

.post-link.random::before {
  content: " ";
  z-index: -10;
  display: block;
  width: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  height: 76%;
  filter: blur(40px);
  opacity: 30%;
  position: absolute;
  background-color: var(--color-accent);
}

.post-favorites {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}

.post-fav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-width: 400px;
  border: 1px solid white;
  padding: 10px;
  font-size: var(--font-s);
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;
}

.post-fav:hover {
  background-color: white;
  border-bottom: 1px solid var(--color-accent);
}

.fav-amount {
  display: flex;
  align-items: center;
}

.fav-amount .material-symbols-outlined {
  text-decoration: none;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: var(--color-accent);
  padding: 5px;
}

/* .fav-amount .fav-amount-num { */
/* z-index: 2; */
/* } */

.post-add-fav-link .material-symbols-outlined,
.post-add-fav-link .material-symbols-outlined:visited {
  text-decoration: none;
  color: var(--color-dark);
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.post-add-fav-link:hover .material-symbols-outlined {
  text-decoration: none;
  color: var(--color-accent);
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.post-remove-fav-link .material-symbols-outlined,
.post-remove-fav-link .material-symbols-outlined:visited {
  text-decoration: none;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: var(--color-accent);
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.post-remove-fav-link:hover .material-symbols-outlined {
  text-decoration: none;
  color: var(--color-dark);
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.post-controllers-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.post-single .post-controllers-wrap {
  top: 0;
  right: 90px;
}

.post-delete-link .material-symbols-outlined,
.post-delete-link .material-symbols-outlined:visited {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-gray);
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.post-edit-link .material-symbols-outlined,
.post-edit-link .material-symbols-outlined:visited {
  text-decoration: none;
  color: var(--color-dark);
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.post-edit-link:hover .material-symbols-outlined {
  text-decoration: none;
  color: white;
  background-color: var(--color-dark);
}

.post-delete-link:hover .material-symbols-outlined {
  text-decoration: none;
  background-color: var(--color-accent);
  color: white;
}

.create-post-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo-ico:hover {
  background-image: url("/public/img/logo-hover.png");
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-weight: normal;
  font-style: normal;
  line-height: 50px;
}

.nav-item {
  padding-left: 30px;
  flex-shrink: 0;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.3s ease-in-out;
}

/* .nav-link.profile {
  display: flex;
  align-items: center;
} */

.nav-link.active {
  text-decoration: none;
  color: var(--color-accent);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--color-accent);
}

.nav-login {
  padding-left: 100px;
}

.nav-profile {
  padding-left: 80px;
}

.signup {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.signup:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.signout {
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.signout:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* ============footer=================== */
footer {
  flex-shrink: 0;
}

.foot-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
}

.info {
  display: flex;
  color: var(--color-dark);
  font-weight: normal;
  gap: 20px;
}

.github-link {
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.3s ease-in-out;
}

.github-link:hover {
  color: var(--color-light);
}

.main-page {
  margin-top: 60px;
}

.explore-page {
  margin-top: 60px;
}

.myposts-page,
.favorites-page {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ============myProfile=================== */

.profile-container {
  display: flex;
  min-height: calc(100vh - 150px);
  margin-top: 60px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
}

.sidebar .side-item {
  padding: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-dark);
}

.side-item .material-symbols-outlined,
.stat-item .material-symbols-outlined {
  padding: 5px 10px 5px 5px;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.sidebar .side-item.active,
.sidebar .side-item:hover:not(.active) {
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-accent);
}

.profile-content {
  flex-grow: 1;
  background-color: var(--color-light);
}

/* ============Profile page=================== */

.profile-wrap {
  padding: 60px;
  display: flex;
  gap: 60px;
}

.user-profile-container {
  padding: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--color-dark);
}

.user-profile-wrap {
  display: flex;
  gap: 60px;
}

/* .user-content-wrap {
} */

.profile-edit-wrap {
  padding: 30px;
}

.user-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-data-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile-image-wrap {
  max-width: 200px;
}

.profile-image {
  position: relative;
  height: 200px;
  width: 200px;
}

.profile-image.small {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profile-image.small:hover {
  filter: none;
}

.profile-image-hint {
  text-align: center;
  font-size: var(--font-xs);
  background-color: var(--color-gray);
  border: solid 1px var(--color-gray-dark);
  padding: 10px;
  margin-top: 20px;
}

/* .user-data { */
/* padding-left: 30px; */
/* } */

.avatar-img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  margin: 0;
  font-size: var(--font-l);
}

.user-email {
  margin: 0;
}

/* .user-bio {
} */

.user-profile-statistic-bar {
  display: flex;
  gap: 60px;
  background-color: var(--color-gray-dark);
  justify-content: center;
  background-color: var(--color-gray);
}

.user-statistic-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-gray);
  flex-shrink: 0;
  width: 200px;
}

.stat-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.stat-item {
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.stat-item.user-profile {
  flex-direction: row;
}

.stat-item-num {
  margin: 0;
}

/* .stat-item .material-symbols-outlined { */
/* color: #ebebeb; */
/* } */

.edit-profile-btn {
  text-decoration: none;
  display: block;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  padding: 10px;
  transition: 0.3s;
}

.edit-profile-wrap {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  right: 0;
}

.edit-profile-btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.edit-profile-form .inp-text {
  margin-top: 10px;
  font-size: var(--font-s);
  color: var(--color-dark);
  max-width: 560px;
}

.edit-profile-form textarea {
  height: 100px;
  padding: 10px;
}

.edit-profile-form label {
  display: block;
  margin-top: 40px;
  color: var(--color-gray-dark);
}

.edit-profile-form label:first-child {
  display: block;
  margin-top: 0;
}

.sbm-btn.edit {
  display: block;
  padding: 10px;
  margin: 0;
  flex-shrink: 0;
  max-width: 100px;
}

.delete-image {
  position: absolute;
  bottom: 20%;
  right: 0;
}

.update-image {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}

.sbm-btn.delete {
  padding: 3px;
  margin: 0;
  border-radius: 50%;
  height: 30px;
  background-color: var(--color-dark);
}

.sbm-btn.delete:hover {
  background-color: var(--color-accent);
}

.sbm-btn.upload {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 5px;
  margin: 0;
}

.sbm-btn.update {
  width: 120px;
  margin: 0;
}

.sbm-btn.cancel,
.sbm-btn.change-psw {
  flex-shrink: 0;
  width: 80px;
  margin: 0;
  background: none;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.sbm-btn.change-psw {
  width: auto;
}

.sbm-btn.cancel:hover,
.sbm-btn.change-psw:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.choose-submit {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.tags-input,
.control-tags-container {
  background-color: var(--color-light);
  padding: 5px;
  display: flex;
  margin-top: 10px;
  min-height: 50px;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.tags-input .tag,
.control-tags-container .tag {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--color-gray);
  cursor: default;
  transition: 0.3s ease-in-out;
}

.tags-input .tag .material-symbols-outlined,
.control-tags-container .tag .material-symbols-outlined {
  /* font-size: 20px; */
  font-size: var(--font-m);
  margin-left: 8px;
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.tags-input .tag .material-symbols-outlined:hover,
.control-tags-container .tag .material-symbols-outlined:hover {
  color: var(--color-light);
  background-color: var(--color-accent);
}

.tags-input .main-input {
  border: 0;
  outline: 0;
  background-color: var(--color-light);
  flex-grow: 1;
  min-height: 40px;
  margin: 0;
  padding: 10px;
}

/* =================pagination================= */

.pagination-wrap {
  margin: 60px 0;
}

.pagination-wrap .page-info {
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.pagination .page-link {
  text-decoration: none;
  color: var(--color-dark);
  padding: 5px 10px;
  border: 1px solid var(--color-dark);
  transition: 0.3s ease-in-out;
}

.pagination .page-link:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.pagination .page-link.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* .pagination .page-link.disabled {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  cursor: default;
} */

.control-bar-form {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.control-bar-form .control-search {
  position: relative;
}

.control-bar-form .control-search .inp-text {
  height: 50px;
  margin: 0;
  max-width: 400px;
  min-width: 400px;
  font-size: var(--font-s);
}

.control-bar-form .control-filter-tag {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* min-width: 400px;
  max-width: 400px; */
}

.control-bar-form .control-filter-tag .tags-input {
  min-height: 40px;
  /* flex-grow: 1; */
  margin: 0;
  font-size: var(--font-s);
}

.control-bar-form .control-filter-tag .tags-input .main-input::placeholder {
  font-size: var(--font-s);
  font-family: inherit;
}

.control-bar-form .control-sort {
  height: 50px;
  background-color: var(--color-light);
  width: 120px;
  padding: 5px;
  border: none;
  color: var(--color-dark);
  font-size: var(--font-s);
  /* min-width: 400px; */
}

.control-bar-form .sbm-btn.search {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0;
  bottom: 0;
  right: 0px;
  background-color: var(--color-dark);
  color: var(--color-light);
  transition: 0.3s ease-in-out;
}

.control-bar-form .sbm-btn.filter {
  width: 60px;
  height: 50px;
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;
}

.control-bar-form .sbm-btn.search:hover,
.control-bar-form .sbm-btn.filter:hover {
  background-color: var(--color-accent);
}

.control-tags-container {
  position: relative;
  margin: 0;
  flex-grow: 1;
}

.tags-dropdown-list {
  position: absolute;
  transform: translate(0, 100%);
  bottom: 0;
  left: 0;
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  width: 100%;
  background-color: var(--color-light);
  max-height: 200px;
  overflow: scroll;
  z-index: 10;
  display: none;
}

.control-tags-container.active .tags-dropdown-list {
  display: block;
}

.control-tags-container.active .tag-list-item.selected {
  display: none;
}

.tags-dropdown-list .tag-list-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 50px;
  border-bottom: solid 1px var(--color-dark);
  transition: 0.2s ease-in-out;
}

.tags-dropdown-list .tag-list-item:last-child {
  border-bottom: none;
}

.tags-dropdown-list .tag-list-item:hover {
  background-color: var(--color-dark);
  color: white;
  cursor: pointer;
}
